@charset "utf-8";

// Шрифт
@font-default: Tahoma; // Выберите шрифт для проекта

// Цвета
@color-black:   #000;
@color-white:   #fff;
@color-grey:    #ccc;
@color-primary: #F2FBFF;
@color-secondary: darken(@color-primary, 10%);

@sidebar-width: 320px;

@import "/api/mixin.less";

* { .indent; }
main, section, article, aside, header, footer { display: block; }

/** @section layout */
main { .size(100vw, 100vh); }
aside, main, section { position: relative; }
aside, section { box-shadow: 3px 0 6px @color-grey; height: 100vh; }
section { width: 50%; margin-left: @sidebar-width; }
aside { .color(@color-primary); width: @sidebar-width; margin-left: -@sidebar-width; }
#content, #panel { position: absolute; top: 0; right: 0; height: 100vh; }
#content { width: 100%; }
#panel {  width: calc(~"50%" - @sidebar-width); }

footer { position: absolute; bottom: 0; }
/** @section logo */

/** @secton sidebar left */
ul.list.aside.tags, ul.list.aside.anekdots { margin-left: 10%; margin-top: 20px; list-style: none; }
ul.list.aside.tags li, ul.list.aside.anekdots li {
  &:hover { color: blue; .cursor; }
}

