<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet/less" type="text/css" href="component.less" />
  <script src="/less.js"></script>
  <title>UI компоненты</title>
</head>
<body>
  <main>
    <h3>Controls</h3>
    <section>
      <h4>Button</h4>
      <article>
        <div class="components">
          <button class="control button small accent darken">Кнопка</button>
          <button class="control button small accent">Кнопка</button>
          <button class="control button small fade darken">Кнопка</button>
          <button class="control button small fade">Кнопка</button>
          <button class="control button small darken">Кнопка</button>
          <button class="control button small">Кнопка</button>
        </div>

        <div class="components">
          <button class="control button medium accent darken">Средняя кнопка</button>
          <button class="control button medium accent">Средняя кнопка</button>
          <button class="control button medium fade darken">Средняя кнопка</button>
          <button class="control button medium fade">Средняя кнопка</button>
          <button class="control button medium darken">Средняя кнопка</button>
          <button class="control button medium">Средняя кнопка</button>
        </div>

        <div class="components">
          <button class="control button large accent darken">Очень большая кнопка</button>
          <button class="control button large accent">Очень большая кнопка</button>
          <button class="control button large fade darken">Очень большая кнопка</button>
          <button class="control button large fade">Очень большая кнопка</button>
          <button class="control button large darken">Очень большая кнопка</button>
          <button class="control button large">Очень большая кнопка</button>
        </div>
      </article>

      <h4>Input</h4>
      <article>
        <div class="components">
          <div class="control input">
            <input type="text" required />
            <label>Текстовое поле</label>
            <span class="ripple"></span> <!-- анимации -->
          </div>
        </div>
      </article>

      <h4>Textarea</h4>
      <article>
        <div class="components">
          <div class="control input">
            <textarea required></textarea>
            <label>Текстовое поле</label>
            <span class="ripple"></span> <!-- анимации -->
          </div>
        </div>
      </article>

    </section>
  </main>
</body>
</html>